/* The header only */

body {
    margin: 0;
    background-color: #ccc;
}

.header {
    margin: 0;
    border-bottom: 1px solid #000;
    padding: 0.5em 0;
    background-color: #777;
    color: #eee;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


/* Divin section styles */

section div {
    margin-top: 20px;
    width: 90%;
    max-width: 700px;
    height: 20%;
    background-color: #ccc;
}