/* The header only */

body {
    margin: 0;
}

.header {
    margin: 0;
    border-bottom: 1px solid #000;
    padding: 0.5em 0;
    background-color: #777;
    color: #eee;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


/* Homework styles */


/* paragraph */

#main p {
    padding: 10px;
    margin: 10px;
    border: 3px solid #fff;
    background-color: #333;
    color: #eee;
    outline: 3px solid #ff0000;
}


/* Div one */

#main div:nth-of-type(1) {
    margin: 3% auto;
    width: 500px;
    height: 400px;
    background-image: url('../images/crawling.jpeg'), url('../images/view.jpeg');
    background-repeat: no-repeat;
    background-size: 25px 27px, cover;
    background-position: 87% 62%, center;
}


/* Div two */

#main div:nth-of-type(2) {
    background-image: url('../images/clown.jpeg');
    background-repeat: space;
    background-size: 100px 100px;
    margin: 0 auto;
    background-color: #fff;
    width: 400px;
    height: 400px;
    border: 10px groove #966e09;
    border-radius: 50%;
}