/* The header only */

body {
    margin: 0;
}

header {
    margin: 0;
    border-bottom: 1px solid #000;
    padding: 0.5em 0;
    background-color: #777;
    color: #eee;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


/* Leture styles */


/* main */

.main {
    margin: 20px;
}


/* anchor tag dimensions */

.main a {
    display: block;
    width: 200px;
    height: 200px;
    background: #ddd;
}


/* section elements */

section div {
    /* As a line element */
    /* display: inline; */
    /* As a line/block = line outside, block inside */
    display: inline-block;
    background-color: #aaa;
    /* wont work */
    width: 200px;
    height: 200px;
}


/* hiding elements */

section div {
    display: none;
}